body {
    background-image: url(../Resources/Castrol-Team_Hahn_Racing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    background-color: gray !important;
}

#header {
    background-color: white;
    height: 100px;
}

.headerLeft {
    float: left;
    color: red;
    width: 20%;
    height: 5px;
}

.btn {
    width: 20%;
    background-color: green;
}

.oilCan {
    float: right;
    height: 80%;
    margin-top: -20%;
    margin-left: 50%;
}

#indexText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20% !important;
}
